{% extends 'base.html.twig' %}

{% block title %}{{ 'message.log_in'|trans }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-start mt-5" style="height: 100vh;">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            {{ 'message.logged_in_as'|trans }}{{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{ 'action.logout'|trans }}</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">{{ 'message.please_sign_in'|trans }}</h1>
                    <label for="inputEmail">{{ 'title.email'|trans }}</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label for="inputPassword">{{ 'message.password'|trans }}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="mt-3">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            {{ 'action.sign_in'|trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
