{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.reservation_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.reservation_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.nickname'|trans, 'reservation.nickname') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'reservation.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.comment'|trans, 'reservation.comment') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'reservation.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'reservation.updatedAt') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in pagination.items %}
                <tr>
                    <td>{{ reservation.nickname }}</td>
                    <td>{{ reservation.email }}</td>
                    <td>{{ reservation.comment }}</td>
                    <td>{{ reservation.createdAt|format_date('long') }}</td>
                    <td>{{ reservation.updatedAt|format_date('long') }}</td>
                    <td>
                        <a href="{{ url('reservation_show', {id: reservation.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('reservation_delete', {id: reservation.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
{% endblock %}