{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_reservation_details'|trans({'%id%': reservation.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_reservation_details'|trans({'%id%': reservation.id|default('')}) }}</h1>
    {% if reservation is defined and reservation|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_element'|trans }}</dt>
            <dd>{{ reservation.element.title }}</dd>
            <dt>{{ 'label_user'|trans }}</dt>
            <dd>{{ reservation.user.email }}</dd>
            <dt>{{ 'label_rentalDate'|trans }}</dt>
            <dd>{{ reservation.rentalDate|format_date('long')  }}</dd>
            <dt>{{ 'label_returnDate'|trans }}</dt>
            <dd>{{ reservation.returnDate|format_date('long')  }}</dd>
            <dt>{{ 'label_comment'|trans }}</dt>
            <dd>{{ reservation.comment }}</dd>
        </dl>
        <p>
            <a href="{{ url('reservation_user') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message_item_not_found'|trans
        } %}
    {% endif %}
{% endblock %}