{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_element_list'|trans }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h1>{{ 'title_element_list'|trans }}</h1>
        </div>
        <div class="col-2">
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('element_create') }}" class="btn btn-success">
                {{ 'title_element_create'|trans }}
            </a>
            {% endif %}
        </div>
    </div>

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'element.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.title') }}</th>
                <th>{{ 'label_authors'|trans }}</th>
                <th>{{ 'label_tags'|trans }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_createdAt'|trans, 'element.createdAt') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for element in pagination.items %}
                <tr>
                    <td>{{ element.title }}</td>
                    <td>
                        <a href="{{ url('element_index', {'filters.category_id' : element.category.id}) }}" title="{{ element.category.title }}">
                            {{ element.category.title }}
                        </a>
                    </td>
                    <td>
                        {%  if element.authors is defined and element.authors|length %}
                            {% for author in element.authors %}
                                <p>
                                    {{ author.name }}
                                    {{ author.surname }}
                                </p>
                            {% endfor %}
                        {% else %}
                            &nbsp;&nbsp;&nbsp;
                        {% endif %}
                    </td>
                    <td>
                        {% if element.tags is defined and element.tags|length %}
                            {% for tag in element.tags %}
                                <a href="{{ url('element_index', {'filters.tag_id' : tag.id}) }}" title="{{ tag.title }}">
                                    {{ tag.title }}
                                </a>
                            {% endfor %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        {{  element.createdAt|format_date('long') }}
                    </td>
                    <td>
                        <a href="{{ url('element_show', {code: element.code}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                        {% if is_granted('EDIT', element) %}
                            <a href="{{ url('element_edit', {id: element.id}) }}" title="{{ 'action_edit'|trans }}">
                                {{ 'action_edit'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('DELETE', element) %}
                            <a href="{{ url('element_delete', {id: element.id}) }}" title="{{ 'action_delete'|trans }}">
                                {{ 'action_delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message_empty_list'|trans
        } %}
    {% endif %}
{% endblock %}