{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_details'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="card p-3">
            <h1 class="text-center display-3">{{ user.firstname }} {{ user.lastname }} </h1>
            {% if user is defined and user|length %}
                <dl class="list-group py-2 px-2">
                    <dt class="list-group-item">{{ 'label.firstName'|trans }}</dt>
                    <dd class="list-group-item">{{ user.firstname }}</dd>
                    <dt class="list-group-item">{{ 'label.lastName'|trans }}</dt>
                    <dd class="list-group-item">{{ user.lastname }}</dd>
                    <dt class="list-group-item">{{ 'label.email'|trans }}</dt>
                    <dd class="list-group-item">{{ user.email }}</dd>
                </dl>
                <div class="btn-group" role="group" aria-label="actions">

                    <a class="btn btn-outline-info" type="button" href="{{ url('user_edit', {id: user.id}) }}"
                       title="{{ 'action.edit'|trans }}">
                        {{ 'action.edit'|trans }}</a>
                    <a class="btn btn-outline-warning" type="button"
                       href="{{ url('user_edit_password', {id: user.id}) }}"
                       title="{{ 'action.edit_password'|trans }}">
                        {{ 'action.edit_password'|trans }}
                    </a>

                </div>
            {% else %}
                <p class="text-center display-2 mt-5">
                    {{ 'message.record_not_found'|trans }}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}