{#
Default template for forms.

parameters:
    - page_title: page title
    - form: form view variable
    - submit_label: label for submit button
#}
{% extends 'base.html.twig' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-start mt-5" style="height: 100vh;">
        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <h1 class="card-title">{{ page_title }}</h1>

                {{ form_start(form) }}

                {% if false == form.vars.valid %}
                    {% include 'default/_single_alert_message.html.twig' with {
                        type: 'danger',
                        message: 'message.form_error'|trans,
                    } %}
                {% endif %}

                {{ form_widget(form) }}

                <div class="d-flex justify-content-center flex-column">
                    <div class="form-group row justify-content-center">
                        <input type="submit" value="{{ submit_label }}" class="btn btn-primary" style="width: 10rem"/>
                    </div>

                    {% if back_to_list_path|default(false) %}
                        <div class="form-group row justify-content-center">
                            <a href="{{ url(back_to_list_path) }}" class="btn btn-link">
                                {{ 'action.back_to_list'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}